torch
torchvision
torchaudio

numpy
scipy
pandas

opencv-python
mediapipe
cvzone

matplotlib
seaborn

scikit-learn

tensorflow
keras

flask
flask-cors

pyyaml
tqdm
einops

jupyter
notebook

Pillow
imageio

albumentations

streamlit